* {
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, yellow, red);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    height: 100vh;
}

main {
    border: 2px dashed black;
    margin: 5px;
    box-sizing: content-box;
    background-color: grey;
}

h1 {
    font-family: serif;
    color: #bf9897;
    margin-bottom: 50px;
}

#lorem1 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 50px;
    color: red;
}

.lorem1 {
    font-weight: bolder;
    font-style: oblique;
}
