* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
}

main > aside {
    background-color: blue;
    flex: 5 1 0;
    padding-left: 1rem;
    max-width: 250px;
    max-height: 120px;
    font-weight: bolder;
    border-style: ridge;
    border-color: black;
}

main > div {
    flex: 5;
}

.motorcycle4 {
    grid-column: span 3;
}

#motorcycles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-right: 1rem;
}

.motorcycle {
    background-color: grey;
    gap: 2rem;
    border-radius: 15px;
    color:black;
}

.motorcycle img {
    max-height: 150px;
}



.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-basis: 50%;
}

header {
    background-image: url('../images/2022_YAM_R7-PRESS_EU_GYTR_ACTION_005_crop_1634049347.png');
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    color: red;
    justify-content: space-around;
    flex-shrink: auto;
}