header {
    background-color: #111111;
    font-family: Lato, Helvetica, Arial, sans-serif;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    margin-bottom: 1rem;

    // navigation
    nav {
        background: #111111;
        color: rgb(255, 255, 255);
        height: auto;
        width: 100%;

    /*======================================================
                            Navbar
    ======================================================*/

        .nav-wrapper {
            margin: -4rem 0 -4rem 0;
            text-align: center;
        }

        @media(max-width: 768px) {
            .nav-wrapper {
                width: 90%;
            }
        }

        @media(max-width: 638px) {
            .nav-wrapper {
                width: 100%;
            }
        }

        .logo {
            margin-left: 28px;
            height: auto;
            justify-content: flex-start;
            transition: transform 0.7s ease;

            &:hover {
                transform: translateX(20px);
            }
        }

        .banner-logo {
            height: 60%;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 10px;
            align-items: center;
            padding: 0;
            margin-top: -2px;
            transition: transform 0.5s ease-out;
            -webkit-transition: transform 0.5s ease-out;

            li {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(255, 255, 255);
                    font-size: 1em;
                    height: 50px;
                    letter-spacing: 1px;
                    padding: 0 4px;
                    position: relative;
                    text-decoration: none;
                    text-transform: uppercase;
                    transition: all 1s ease;
                    -webkit-transition: all 1s ease;
                    
                    &:hover {
                        /* border-bottom: 1px solid rgb(28, 121, 184); */
                        color: rgb(28, 121, 184);
                        transition: all 1s ease;
                        -webkit-transition: all 1s ease;
                        transform: scale(1.3);
                    }
    
                    /* Animated Bottom Line */
                    &:before,
                    &:after {
                        content: '';
                        width: 0%;
                        height: 1px;
                        bottom: -1px;
                        background: rgb(13, 26, 38);
                    }
    
                    &:before {
                        left: 0;
                        transition: 0.5s;
                    }
    
                    &:after {
                        background: rgb(13, 26, 38);
                        right: 0;
                        /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
                    }
    
                    &:hover:before {
                        background: rgb(13, 26, 38);
                        width: 100%;
                        transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
                    }
            
                    &:hover:after {
                        background: transparent;
                        width: 100%;
                        /* transition: 0s; */
                    }
                }
            }
        }

        @media(max-width: 640px) {
            #navbar ul {
                display: none;
            }
        }

        @media(orientation: landscape) {
            #navbar ul {
                display: flex;
            }
        }
    }
}