@use "./variables";

footer {
    font-weight: bold;
    font-size: 1.125rem;
    font-style: italic;
    color: variables.$white;
    padding: 0% 1.5% 0% 1.5%;
    display: flex;
    justify-content: center;
}